In [1]:
import pandas as pd
import os

In [2]:
os.chdir("../Helper_Functions")
from evaluation_pipeline import calculate_feature_gain
# Needs to be current working directory
os.chdir("../Main")

In [3]:
item_orders_dec = pd.read_csv("../Data/train_before_dec.csv")
item_orders_dec["date"] = pd.to_datetime(item_orders_dec["date"])
item_orders_dec

,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,purchaseWeek
0,2020-06-01,38769,3477,1,186,6,0,196,0,45,"[74, 4109, 3867, 803, 4053]",1
1,2020-06-01,42535,30474,1,193,10,3,229,3,132,"[3459, 3738, 679, 1628, 4072]",1
2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,"[2973, 2907, 2749, 3357]",1
3,2020-06-01,42535,20131,1,347,4,0,291,3,44,"[30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...",1
4,2020-06-01,42535,4325,1,539,6,0,303,0,45,"[3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...",1
...,...,...,...,...,...,...,...,...,...,...,...,...
767126,2020-11-30,22541,746,1,406,10,0,503,0,17,"[3704, 2833, 146, 308, 3540, 2980, 1138]",0
767127,2020-11-30,36315,22834,20,993,10,3,515,0,190,[3916],0
767128,2020-11-30,7736,18630,3,6,4,0,291,0,44,"[2977, 30, 1515, 1760, 2932, 377, 3727, 747, 3...",0
767129,2020-11-30,7736,29657,8,18,10,0,345,0,84,"[1515, 2330, 1760, 3245, 2443, 3173, 3915, 391...",0
767130,2020-11-30,10215,29037,1,1180,4,0,327,0,163,"[2256, 3042]",0

In [4]:
item_orders_jan = pd.read_csv("../Data/train_before_jan.csv")
item_orders_jan["date"] = pd.to_datetime(item_orders_jan["date"])
item_orders_jan

,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,purchaseWeek
0,2020-06-01,38769,3477,1,186,6,0,196,0,45,"[74, 4109, 3867, 803, 4053]",1
1,2020-06-01,42535,30474,1,193,10,3,229,3,132,"[3459, 3738, 679, 1628, 4072]",1
2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,"[2973, 2907, 2749, 3357]",1
3,2020-06-01,42535,20131,1,347,4,0,291,3,44,"[30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...",1
4,2020-06-01,42535,4325,1,539,6,0,303,0,45,"[3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...",1
...,...,...,...,...,...,...,...,...,...,...,...,...
905876,2020-12-31,38399,32075,1,1111,4,0,25,3,45,"[1353, 545, 2373, 4196]",0
905877,2020-12-31,38399,23050,1,1411,4,0,22,0,151,"[545, 1763, 3912, 3300, 3586, 3914, 3915, 3962...",0
905878,2020-12-31,21613,25422,1,539,10,0,345,0,99,"[3245, 1182]",0
905879,2020-12-31,27030,52,1,799,10,1,358,0,99,[1403],0
905880,2020-12-31,27030,31073,1,1126,4,0,291,3,129,"[777, 30, 1763, 3727, 285, 3499, 3284, 3924]",0

In [5]:
rf_dec = pd.read_csv("../Data/Feature CSVs/rfm_analysis_dec.csv")
rf_dec

,userID,recency,frequency,quantity_avg,quantity_total,R,F,RF_Segment_Concat,RF_Score,RF_Level
0,0,11,9,1.000000,9,3,2,32,5,2
1,1,2,10,1.300000,13,4,2,42,6,2
2,2,3,18,1.166667,21,4,3,43,7,3
3,3,10,31,1.290323,40,3,4,34,7,3
4,4,2,17,1.705882,29,4,3,43,7,3
...,...,...,...,...,...,...,...,...,...,...
45760,46133,9,21,1.095238,23,3,3,33,6,2
45761,46134,17,26,1.230769,32,3,4,34,7,3
45762,46135,18,6,1.666667,10,3,1,31,4,1
45763,46136,33,32,1.812500,58,2,4,24,6,2
45764,46137,75,5,1.400000,7,1,1,11,2,0

In [6]:
rf_jan = pd.read_csv("../Data/Feature CSVs/rfm_analysis_jan.csv")
rf_jan

,userID,recency,frequency,quantity_avg,quantity_total,R,F,RF_Segment_Concat,RF_Score,RF_Level
0,0,21,14,1.000000,14,3,2,32,5,2
1,1,23,12,1.250000,15,2,2,22,4,1
2,2,13,20,1.200000,24,3,3,33,6,2
3,3,3,38,1.289474,49,4,4,44,8,3
4,4,33,17,1.705882,29,2,2,22,4,1
...,...,...,...,...,...,...,...,...,...,...
46026,46133,40,21,1.095238,23,1,3,13,4,1
46027,46134,19,27,1.222222,33,3,4,34,7,3
46028,46135,25,7,1.857143,13,2,1,21,3,1
46029,46136,4,35,1.971429,69,4,4,44,8,3
46030,46137,106,5,1.400000,7,1,1,11,2,0

In [7]:
item_orders_dec_2 = pd.merge(item_orders_dec, rf_dec, on=["userID"], how="left")
item_orders_dec_2

,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,...,purchaseWeek,recency,frequency,quantity_avg,quantity_total,R,F,RF_Segment_Concat,RF_Score,RF_Level
0,2020-06-01,38769,3477,1,186,6,0,196,0,45,...,1,1,66,1.454545,96,4,4,44,8,3
1,2020-06-01,42535,30474,1,193,10,3,229,3,132,...,1,71,18,1.111111,20,1,3,13,4,1
2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,...,1,71,18,1.111111,20,1,3,13,4,1
3,2020-06-01,42535,20131,1,347,4,0,291,3,44,...,1,71,18,1.111111,20,1,3,13,4,1
4,2020-06-01,42535,4325,1,539,6,0,303,0,45,...,1,71,18,1.111111,20,1,3,13,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767126,2020-11-30,22541,746,1,406,10,0,503,0,17,...,0,1,8,1.250000,10,4,1,41,5,2
767127,2020-11-30,36315,22834,20,993,10,3,515,0,190,...,0,1,16,2.375000,38,4,3,43,7,3
767128,2020-11-30,7736,18630,3,6,4,0,291,0,44,...,0,1,13,2.076923,27,4,2,42,6,2
767129,2020-11-30,7736,29657,8,18,10,0,345,0,84,...,0,1,13,2.076923,27,4,2,42,6,2
767130,2020-11-30,10215,29037,1,1180,4,0,327,0,163,...,0,1,21,1.047619,22,4,3,43,7,3

In [8]:
item_orders_jan_2 = pd.merge(item_orders_jan, rf_jan, on=["userID"], how="left")
item_orders_jan_2

,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,...,purchaseWeek,recency,frequency,quantity_avg,quantity_total,R,F,RF_Segment_Concat,RF_Score,RF_Level
0,2020-06-01,38769,3477,1,186,6,0,196,0,45,...,1,26,73,1.410959,103,2,4,24,6,2
1,2020-06-01,42535,30474,1,193,10,3,229,3,132,...,1,9,23,1.086957,25,4,3,43,7,3
2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,...,1,9,23,1.086957,25,4,3,43,7,3
3,2020-06-01,42535,20131,1,347,4,0,291,3,44,...,1,9,23,1.086957,25,4,3,43,7,3
4,2020-06-01,42535,4325,1,539,6,0,303,0,45,...,1,9,23,1.086957,25,4,3,43,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905876,2020-12-31,38399,32075,1,1111,4,0,25,3,45,...,0,1,10,1.000000,10,4,1,41,5,2
905877,2020-12-31,38399,23050,1,1411,4,0,22,0,151,...,0,1,10,1.000000,10,4,1,41,5,2
905878,2020-12-31,21613,25422,1,539,10,0,345,0,99,...,0,1,21,1.000000,21,4,3,43,7,3
905879,2020-12-31,27030,52,1,799,10,1,358,0,99,...,0,1,14,1.214286,17,4,2,42,6,2
905880,2020-12-31,27030,31073,1,1126,4,0,291,3,129,...,0,1,14,1.214286,17,4,2,42,6,2

In [9]:
cols_to_drop = ["date", "categories", "purchaseWeek"] 
X_train_dec, y_train_dec = item_orders_dec_2.drop(cols_to_drop, axis=1), item_orders_dec_2["purchaseWeek"]
X_train_jan, y_train_jan = item_orders_jan_2.drop(cols_to_drop, axis=1), item_orders_jan_2["purchaseWeek"]

In [10]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["recency"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.329941,0.044512,0.303765,0.317867,0.014102,0.294597,0.323904,0.029307
XGBoost Classifier,0.310586,0.323093,0.012507,0.305999,0.317913,0.011914,0.308292,0.320503,0.012211

In [11]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["frequency"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.285334,-0.000095,0.303765,0.302788,-0.000977,0.294597,0.294061,-0.000536
XGBoost Classifier,0.310586,0.315674,0.005088,0.305999,0.306371,0.000372,0.308292,0.311023,0.002730

In [12]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["quantity_avg"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.285429,0.000000,0.303765,0.304184,0.000419,0.294597,0.294806,0.000209
XGBoost Classifier,0.310586,0.309302,-0.001284,0.305999,0.310886,0.004887,0.308292,0.310094,0.001801

In [13]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["quantity_total"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.284763,-0.000666,0.303765,0.302508,-0.001257,0.294597,0.293636,-0.000961
XGBoost Classifier,0.310586,0.309635,-0.000951,0.305999,0.305022,-0.000977,0.308292,0.307328,-0.000964

In [14]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["R"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.285572,0.000143,0.303765,0.304184,0.000419,0.294597,0.294878,0.000281
XGBoost Classifier,0.310586,0.324234,0.013648,0.305999,0.328710,0.022711,0.308292,0.326472,0.018180

In [15]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["F"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.285429,0.000000,0.303765,0.303532,-0.000233,0.294597,0.294481,-0.000116
XGBoost Classifier,0.310586,0.307685,-0.002901,0.305999,0.306371,0.000372,0.308292,0.307028,-0.001264

In [16]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["RF_Segment_Concat"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.329893,0.044465,0.303765,0.313864,0.010099,0.294597,0.321879,0.027282
XGBoost Classifier,0.310586,0.328562,0.017976,0.305999,0.322986,0.016987,0.308292,0.325774,0.017482

In [17]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["RF_Score"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.285286,-0.000143,0.303765,0.303672,-0.000093,0.294597,0.294479,-0.000118
XGBoost Classifier,0.310586,0.318908,0.008322,0.305999,0.311863,0.005864,0.308292,0.315386,0.007093

In [18]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["RF_Level"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.285572,0.000143,0.303765,0.303672,-0.000093,0.294597,0.294622,0.000025
XGBoost Classifier,0.310586,0.309920,-0.000666,0.305999,0.315074,0.009075,0.308292,0.312497,0.004205

In [20]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["recency", "RF_Segment_Concat"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.331177,0.045749,0.303765,0.320287,0.016522,0.294597,0.325732,0.031135
XGBoost Classifier,0.310586,0.320240,0.009654,0.305999,0.320380,0.014381,0.308292,0.320310,0.012017

In [21]:
df, _, _ = calculate_feature_gain(X_train_dec, y_train_dec, X_train_jan, y_train_jan, features_to_test=["recency", "frequency"], path_to_data="../Data")
df

,w/o features dec,with features dec,gain dec,w/o features jan,with features jan,gain jan,overall score w/o features,overall score with features,overall gain
model_name,,,,,,,,,
LogisticRegression,0.285429,0.333936,0.048507,0.303765,0.321311,0.017545,0.294597,0.327623,0.033026
XGBoost Classifier,0.310586,0.324662,0.014076,0.305999,0.317262,0.011263,0.308292,0.320962,0.012670